#local notebooks
*.ipynb
SRP_Project.ipynb


#single files
test.py
todo.txt

*.png 
*.jpg
*pt


# chache
__pycache__/

#env 
.venv
.vscode


#ignore own log files
log/*
saved_models/*
dataset/*
runs/*
log_dir/*
log\*
dataset\*
runs\*
log_dir\*
cifar*
t10k*
train-images*
train-labels*
log/*
dataset/*
log_dir/*
runs/*
runs\*
*.log
*.csv
events*

# Jupyter Notebook
.ipynb_checkpoints


# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

project/test.png
project/exp-config.json

exp-config*

