#local notebooks
*.ipynb
SRP_Project.ipynb

#single files
test.py
todo.txt


# chache
__pycache__/

#env 
.venv
.vscode

#ignore own log files
project/log/*
project/data/dataset/*

project/log_dir/*

# Jupyter Notebook
.ipynb_checkpoints


# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

